*{
    margin: 0;
    padding: 0%;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #77acee;
    
}
.container{
    position: relative;
   
}
.container .card{
    position: relative;
   
    height: 550px;
    width:300px;
    background-color: #e6f4f4;
    border-radius: 15px;
    overflow: hidden;
    margin: 30px;
}
.content-1{
    position: relative;
    width: 100%;
    height: 35%;
    background-image: linear-gradient(to bottom right,#0a52af,#1270ea);
}
/* .content-1::after{
    content: 'play';
    position: absolute;
    left: 28%;
    top:20%
    
} */
.content-1 .arrow-l{
    position: absolute;
    top:8%;
    left:6%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.content-1 .like{
    position: absolute;
    top:8%;
    right:6%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.main-image img{
    width: 250px;
    height:200px;
    position: absolute;
    top: 36%;
    left: 8%;
}
.like:hover,.arrow-l:hover{
    color: rgb(43, 139, 83);
}
.content-2{
    height: 120px;
}
.content-2 .sub-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-2 .sub-images img{
    width: 30px;
    height: 30px;
    margin:60px 10px ;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow:-10px -10px 10px rgba(230, 244, 244, 0.5),
        5px 5px 5px rgba(70, 70, 70, 0.12);
    border: 1.5px solid white;
    cursor: pointer;
}
.content-2 .sub-images img:hover{
    border: 1.5px solid #0b67df;
    
}
.content-2 .sub-images img a:hover{
   background-color: black;
}
.content-3{
    position: relative;
    padding: 5px 20px 10px;
}
.branding span:nth-child(1){
    font-size: 18px;
    font-weight: 400px;
}
.branding h4{
    font-size: 12px;
    font-weight: 500;
    columns: #464444;
}
.rating span{
    display: inline-block;
    text-align: center;
    line-height:26px ;
    font-size: 10px;
    cursor: pointer;
   
    color: #fcba26;

}
.rating span:nth-child(5){
    color: #a7a7a3;
}
.para p{
    font-size: 11.5px;
    color:black;
    font-weight: 500;
}
.para span{
    color: #0b67df;
    font-weight: 700;
    cursor: pointer;

}
.Price{
    display: flex;
    margin: 30px 0px 10px;
}
.space{
    flex: 1;
}
.Price span{
    font-size: 25px;
    font-weight: 600;
    
}
.Price span:nth-child(1){
    font-size: 20px;
    font-weight: 400px;
    margin-top: 3px;
    margin-right: 5px;
}
.Price a{
    font-size: 12px;
    text-decoration: none;
    border: none;
    background-image: linear-gradient(to right, #0a52af, rgba(18,112,234) ) ;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;

}
